@page
@model OdeToFood.Pages.Restaurants.ListsModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" 
                   placeholder="Buscar restaurante:" />
            &nbsp;
            <button class="btn btn-secondary">Buscar</button>
        </div>
    </div>
</form>


<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
    <tr>
        <td>@restaurant.Name</td>
        <td>@restaurant.Location</td>
        <td>@restaurant.Cuisine</td>
        <td>
            <a class="btn btn-info"
               asp-page="./Detail"
               asp-route-restaurantId="@restaurant.Id">
                Editar
            </a>
        </td>
    </tr>

    }


</table>

@Model.Message

